body,
html {
    background-color: #171d22;
}

#app {
    background-color: #171d22;
    color: #fff;
    max-width: 100vw;
    max-height: 100vw;
}

.playlist {
    position: absolute;
    left: 0;
    height: 96vh;
    background-color: rgba(23, 29, 34, 0.8);
    /* Transparent background */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* Hidden by default */
    opacity: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.playlist:hover {
    /* Slide in on hover */
    opacity: 1;
}

.playlist input {
    justify-content: center;
    align-items: center;
    max-height: 10vh;
}

.playlist .scroll {
    color: #ffffff40;
    cursor: pointer;
    max-height: 10vh;
}

.playlist .scroll_down {
    top: 10;
    left: 0;
    z-index: 1;
}

.playlist .scroll_up {
    bottom: 0;
    left: 0;
    z-index: 1;
}

.playlist .scroll:hover {
    background-color: #2e3d4b40;
    color: #ffffff;
}

.playlist .scroll span {
    font-size: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist .channels {
    overflow: hidden;
    max-height: 70vh;
}

.playlist .channel:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.playlist .channel:hover {
    cursor: pointer;
    background-color: #3e4d5b;
}

.playlist .channel {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.playlist .title {
    font-size: 1.2rem;
}

.playlist .logo {
    max-height: 10vh;
    max-width: 10vh;
}

.content {
    height: 100vh;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.channel-number,
.channel-name {
    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    opacity: 1;
    z-index: 100;
}

.channel-number {
    top: 10px;
    right: 30px;
}

.channel-name {
    top: 10px;
    left: 30px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .playlist .scroll span {
        font-size: 30px;
    }

    .playlist .title {
        font-size: 1rem;
    }

    .content .toolbar .channel_title {
        font-size: 1.2rem;
    }

    .playlist .channel {
        height: 8vh;
    }

    .playlist .logo {
        max-height: 8vh;
        max-width: 8vh;
    }

    .playlist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 100vh;
        max-width: 10vw;
    }

    .player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 95vh;
    }

}